{% for message in messages %}{% if message['role'] == 'user' %}
{{ 'Question:' }}
{% elif message['role'] == 'system' %}
{{ 'System:' }}
{% elif message['role'] == 'assistant' %}
{{ 'Answer:' }}
{% endif %}
{{ message['content'] }}
{% if loop.last and add_generation_prompt %}{{ 'Answer:' }}
{% endif %}{% endfor %}