@page
@model chat_service_dotnet.Pages.Chat
@{
}

<div class="form-group">
    <label>Prompt:</label>
    <p>@Model.Prompt</p>
</div>

<div class="form-group">
    <label>Completion:</label>
    <p>@Model.Completion</p>
</div>